@inherits UmbracoViewPage<Portfolio.Core.ViewModels.Mvc.PageViewModel>
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/Layout.cshtml";

}
<input type="hidden" id="sitenane" value="@Model.SiteName">
<div id="app"></div>