@inherits UmbracoViewPage<Portfolio.Core.ViewModels.Mvc.PageViewModel>
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/Layout.cshtml";
    string domainName = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<input type="hidden" id="sitenane" value="@Model.SiteName">

@if (domainName != "http://nerijabalan.com")
{
      <div id="app"></div>
}
