@inherits UmbracoViewPage<Portfolio.Core.ViewModels.Mvc.PageViewModel>
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/Layout.cshtml";
    
}

@*<h2> Welcome to @Model.SiteName website</h2>
<p>This is the frontpage</p>*@
<div id="app"></div>