.site-footer-small{
    position: fixed;
    bottom:0;
    width: 100%;
    background: $white;
    color: $dark-color;
    img{
        height: 50px;
        max-width: 100%;
        left: 0;
    }
    .heading{
        text-transform: uppercase;
        background-color: $main-color;
        h4{
            font-weight: bold;
            font-size: 0.8em;
            padding: 1em 0;
        }
       
    }

    p{
        font-size:0.42em;
        font-weight: bold;
        color:$third-color;
        a{
            color: $third-color;
        }
    }
    .footer-col{
        margin-top: 2em;
    }
    .footer-bg{
        height: 2vh;
        width: 100%;
        background: url('/static/clouds.svg') repeat-x;
      }
      .media-col:first-child{
        padding-top: 2em;
      }
}