.headline-container-responsive{
    max-width: 100%;
}

@media screen and  #{breakpoint(large down)} {
    .large-visible{
      display: visible;
     
      .centered-content{
        text-align: center;
      }
    }
 
  }
  
  @media screen and #{breakpoint(large up)}{
    .large-visible{
    display: visible;
    }
    .large-hidden, .small-visible{
      display: none;
    }
  }
  
  @media screen and  #{breakpoint(medium down)} {
    .hover-underline-menu .menu a, .underline-menu-reverse .menu a{
      font-size: 0.8em;
    }

    .medium-visible{
      display: visible;
      img{
        max-width: 60%;
        left:15%;
      }
      .centered-content{
        text-align: center;
      }
      h3{
        padding: 1em 0;
        font-size: 1.4em;
      }
    }
   .medium-hidden, .large-visible{
      display: none;
    }
  }

 
  @media screen and  #{breakpoint(small down)} {
    .small-visible{
      display: inline-block;
      img{
        max-width: 60%;
        left:15%;
      }
      .centered-content{
        text-align: center;
      }
    }
   .small-hidden, .large-visible{
      display: none ;
    }
  }

