.hero-section-responsive{
    background: url("/static/project_banner.png");
    background-size: contain;
    background-position: center top 30%;
    background-clip: border-box;
    height: 44vh;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  
    .hero-section-text {
        color: $black;
        background-color: $main-color-alpha;
        margin-top: auto;   
        width: 100%;
        h1{
          padding: 2em 0 0;
          font-size: 1.1em;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
        h5{
            font-size: 0.9em;
        }
        
        .hero-description{
            width: 80%;
            margin: auto;
        
            text-align: center;
            font-size: 0.8em;
            padding: 1em 0 3em 0;
            // line-height: 3em;
            p{
                line-height: 2.5em;
                font-weight: 600;
                a{
                  color: $third-color;
                  text-decoration: underline;
                }
             }

        }
      }    
    
}

.responsive-project-detail {
    .project-title{
        padding: 2em 1.5em;
    }
    .row:first-child{
        padding-top: 2em;
    }
    .media-col{
        padding: 0 2em;
        img {
            margin: 0;
            width: 100%;
            max-width: 100%;
            left: 0;
        }
    }
  }

  .content-row-responsive{
      h2{
          font-size: 2em;
          font-weight: 700;
          padding: 1em 0.5em 0;
      }
  }
 
  @media screen and  #{breakpoint(medium down)} {
    .hero-section-responsive{
        height: auto;
    }
    .hero-section-text {
        padding-top: 8em;
    }
  }
