<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetPaging" version="1.0.0.2" targetFramework="net47" />
  <package id="Flurl" version="1.0.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net47" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net47" />
</packages>