.front-page-featured{
 padding: 0 !important;
    .grid-x  {
        margin: 0;
    }
    .grid-margin-x > .cell{
        margin: 0;
    }
    .grid-margin-x > .medium-4{
        width: calc(33.33333%);
    }
}
.overlay{
  position: relative;
    .title{
        padding-top:30%;
        left:40%;
        font-size: 1.4em;
        color: $white;
    //    padding-top:5em;
       text-transform: uppercase;
    }
}