@inherits UmbracoViewPage<Portfolio.Core.ViewModels.Mvc.PageViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nerija's portfolio</title>
</head>
<body>
<p>This is the layout</p>
<div>
    @RenderBody()
</div>
</body>
</html>
