@inherits UmbracoViewPage<Portfolio.Core.ViewModels.Mvc.PageViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.SiteName website</title>
    <link href="~/public/css/app.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/public/js/app.js"></script>
    <script src="~/public/js/manifest.js"></script>
    <script src="~/public/js/vendor.js"></script>
</body>
</html>
