$marketing-site-footer-bg: #2c3840;
$white: #fff;
$menu-underline-from-center-bg: #2C3840;
$light-grey: #787878;
$teal: #3d9991;
$black: #000000;
$cv-grey:#ededed ;

$menu-overline-bg:#2B2926;
$menu-overline-reverse-bg:#FFFDFB;

$black: #000000;

$button-palette: (
    black: #000000,
    red: #ff0000,
    purple: #bb00ff,
    orange: #FFB02F
    
) !default;

$main-color: #e3c4b4;
$main-color-alpha: rgba(227, 196, 180, 0.6);
$secondary-color:#a9897b;
$third-color:#4c0d08;
$fourth-color:#efe6e1;
$light-color:#f7f2f0;
$white: #ffffff;
$dark-color:#0b0c0a;