$marketing-site-footer-bg: #2c3840;
$white: #fff;
$menu-underline-from-center-bg: #2C3840;
$light-grey: #787878;
$teal: #3d9991;
$black: #000000;
$cv-grey:#ededed ;

$menu-overline-bg:#2B2926;
$menu-overline-reverse-bg:#FFFDFB;
// $menu-overline-hover:#FFB02F;
$black: #000000;

$orange: #FFB02F;

$dark-bg:#f5f5f5;
$light-bg:#FFFDFB;

$button-palette: (
    black: #000000,
    red: #ff0000,
    purple: #bb00ff,
    orange: #FFB02F
    
) !default;