.margin-x{
    margin: 1em 5em;
}
.featured-container{
   max-width: 100%;
   padding: 0;

}
.light-bg{
    background-color: $light-bg;
}
.dark-bg{
    background-color: $dark-bg;
}
.zoomIn{
    transform: scale(1.05);
    transition: 0.2s;
    z-index: 2;
  }
  .zoomOut{
    transform: scale(1);
    transition: 0.2s;
  }
  .featured-project{
    overflow: hidden;
    position: relative;
    img{
        height: 413px;
    }
  }
  .overlay{
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    h3{
      text-transform: initial;
      padding-top:calc(50% - 450px/2);
      color: $orange;
      font-size: 1.2em;
    }
     p{
      color:$white;
     }
      height: 100%;
      width: 100%;
      background-color: $black;
      opacity: 0.8;
  }
  .section-container{
    padding-top: 5em;
  }
.animation-container{
  overflow: hidden;
}
.list-group-item{
  display: inline;
 div{
    display: inline-block;
  }
}