
.site-footer {
  background: $white;
  color: $dark-color;
   
.heading{
  text-transform: uppercase;
  background-color: $light-color;
  h4{
    padding: 1em 0;
    font-weight: 700;
    font-size: 1em;
  }
}
  .footer-col {
    color: $light-grey;
    padding: 2em 4em;
    .footer-icon{
      img{
        height: 50px;
      }
      text-decoration: none;
      text-align: center;
      p{
        font-size:0.5em;
        font-weight: bold;
        color:$third-color;
      }
    }
       
    .footer-icon img:hover{
      animation: flipiny 5s linear infinite;
      animation-play-state: running;
    }

    @-webkit-keyframes flipiny {
        100% {transform: rotate(1turn); }
      }
      
      @keyframes flipiny {
         100% {transform: rotateY(1turn); }
      }

   
  }

  .footer-bg{
    height: 3vh;
    width: 100%;
    background: url('/static/clouds.svg') repeat-x;
  }
  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

