
.site-footer {
  background: $white;
  color: $dark-color;
   
.heading{
  text-transform: uppercase;
  background-color: $light-color;
  h4{
    padding: 1em 0;
    font-weight: 700;
    font-size: 1em;
  }
}
  .footer-col {
    color: $light-grey;
    padding: 2em 4em;
    .footer-icon{
      img{
        height: 50px;
      }
      text-decoration: none;
      text-align: center;
      p{
        font-size:0.5em;
        font-weight: bold;
        color:$third-color;
      }
    }
    .footer-icon:hover{
      transition: all 0.5s ease;
      zoom: 130%;
      animation-duration: 1s;
    }
  }

  .footer-bg{
    height: 3vh;
    width: 100%;
    background: url('/static/clouds.svg');
  }
  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

