.front-page-featured{
    width: 60%;
}
.featured-project{
    h3{
        font-size: 1.4em;
        color:teal;
        text-transform: uppercase;
        padding: 1rem 0;
    }
    cursor: pointer;
}