.front-page-featured{
 padding: 0 !important;
    .grid-x  {
        margin: 0;
    }
    .grid-margin-x > .cell{
        margin: 0;
    }
    .grid-margin-x > .medium-4{
        width: calc(33.33333%);
    }
}
.featured-project{
    h3{
        font-size: 1.4em;
        color:teal;
        text-transform: uppercase;
        padding: 1rem 0;
    }
    cursor: pointer;
}