$menu-underline-from-center-border-thickness: 0.115rem;

.hover-underline-menu, .underline-menu-reverse  {
  z-index: 100;
  width: 100%;
  position: fixed;

  .menu {
    background-color: $menu-underline-from-center-bg;

    a {
      color: $white;
      padding: 1.2rem 1.5rem;
      text-transform: uppercase;
    }

    .underline-from-center {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - #{$menu-underline-from-center-border-thickness});
        border-bottom: $menu-underline-from-center-border-thickness solid $white;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }
      &:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  }
}


.underline-menu-reverse {
 
  .menu {
    background-color: $white;

    a {
      color: $marketing-site-footer-bg;
      padding: 1.2rem 1.5rem;
      text-transform: uppercase;
    }

    .underline-from-center {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - #{$menu-underline-from-center-border-thickness});
        border-bottom: $menu-underline-from-center-border-thickness solid $marketing-site-footer-bg;;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }
      &:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  }
}