$menu-border-thickness: 0.225rem;

.overline-menu, .overline-menu-reverse {
  z-index: 100;
  width: 100%;
  position: fixed;

  .menu {
    background-color: $menu-overline-bg;

    a {
      color: $white;
      padding: 1.2rem 1.5rem;
      text-transform: uppercase;
    }

    .overline-from-center {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(5% - #{$menu-border-thickness});
        border-top: $menu-border-thickness solid $orange;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }
      &:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  
  }
}

.overline-menu-reverse {
  .menu {
    background-color: $menu-overline-reverse-bg;
    a {
      color: $menu-overline-bg;
      padding: 1.2rem 1.5rem;
      text-transform: uppercase;
    }
   }

  
  -webkit-box-shadow:0px 0px 4px $light-gray;
  -moz-box-shadow:0px 0px 4px $light-gray;
  box-shadow: 0px 0px 4px $light-gray;
}

