.mb_parallax_container {
    background-image: url('/static/parallax-bg.png');
    height: 85vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .mb_parallax_overlay {
    width: 100%;
    background-color: $main-color;
    opacity: 0.6;
    bottom: -15px;
    height: 32vh;
    position: absolute;
    text-align: center;
     
    h1{
      padding: 1em 0 0 0;
      font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        padding: 0.2em 30em;
    }
  }
  
