.mb_parallax_container {
    background-image: url('/static/parallax-big.png');
    background-size: contain;
    background-position: center;
    height: 80vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .detail-container{
      width: 50%;
      white-space: pre-line;
      margin: auto;
    }
    display: flex;
  }
  
  .mb_parallax_overlay {
    width: 100%;
    background-color: $main-color-alpha;
    text-align: center;
    margin-top: auto;    
    h1{
      padding: 2em 0 0;
      font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        text-align: center;
        font-weight: 700;
        font-size: 0.8em;
        padding: 1em 0 3em 0;
        line-height: 3em;
    }
  }

  @media screen and  (max-width:2090px) {
    .mb_parallax_container {
      background-position-y:42%;
      height: 85vh;
    }
  }
    
