// .margin-x{
//     margin: 1em 5em;
// }
// .featured-container{
//    max-width: 100%;
// }
.overlay-container{
  position: relative;
}
.placeholder-title{
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 0;

}
.activeTitle{
  text-align: center;
   font-size: 1.2em;
  text-transform: uppercase;
  position: absolute;
    top: 8em;
    width: 100%;
    font-weight: 500;
    color: $white;
    font-weight: 600;
}
.activeDescription{
  color: $white;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  width: 100%;
  top: 12em;
}
.readMore{
  color: $white;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  top: 18em;
}
.slide-fade-enter-active {
  transition: all .5s ease;
  
}
.slide-fade-leave-active {
  // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {

  -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
}