.content-row{
    width: 90%;
    margin: auto;
    h2{
        padding: 1em 0;
        font-weight: 700;
        font-size: 3em;
        letter-spacing: 7px;
    }
    h3{
       
        font-weight: 700;
        letter-spacing: 5px;
    }
    .text {
        padding:  0 4em;
    }
    .layout-2{
        padding: 2em 0;
        .text-layout-2:first-of-type{
            padding: 0 2em 0 0;
        }
        .text-layout-2{
            padding: 0 2em;
        }
    }
   
    .main-image-container{
        display: flex;
        justify-content: center;
        .main-image{
            max-height: 1080px;
        }
    }
  
    .icon-container{ 
        .icon{
            margin-top:-20px;
            max-height: initial;
            width: 100%;
            padding-bottom: 2em;
        }
    }
   
}