.details-bg{
    background: $light-gray;
}
.text-padding{
  padding:0 2em;
}
.text-padding-right{
  padding-right:3em;
}
.text-padding-left{
  padding-left: 2em;
}
.heading-padding-left{
  padding-left: 1em;
}
.hero-section {
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $black;
    background:$white;
     opacity: 0.8;
    height: 100%;
    width: 88%;
    h3{
      padding-top:2em;
    }
  }

  .hero-description{
    padding: 2em 7em;
    font-size: 1.1em;
  }
  .stroke{
    width: 130px;
    border-top: 0.205rem solid $black;
    display: inline-block;
    margin-bottom: 10px;
  }
  h5{
    padding-top:2em;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.8;
  } 
}


.project-details-section {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 7em;

    .project-details-section-block-header{
       font-weight: bold;
      font-size: 1.5em;
    }
    
    .project-details-section-img {
      align-self: center;
      flex: 1 0 100%;
    iframe{
      border: 0;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
    }
      img {
        width: 100%;
      }
  
      @media screen and (min-width: 40em) {
        flex: 1 0 50%;
      }
    }
  
    .project-details-section-block {
      padding: 1rem;
      flex: 1 0 100%;
      position: relative;
      align-self: stretch;
      background: $light-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  
      @media screen and (min-width: 40em) {
        flex: 1 0 50%;
        padding: 2rem;
      }
      h3{
          position: absolute;
          top: 2em;
      }
      .details-richtext{
          position: absolute;
          top:9em;
      }
      
    }
  }

  .projectlist-container{
    max-width: 100%;
      .headline-container{
      padding:4em 0;

      h1{
        text-transform: uppercase;
        font-size: 2em;
      }
      h2{
        font-size: 1.4em;
      }
      .stroke{
        width: 130px;
        border-top: 0.205rem solid $black;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
    .show-more-container{
      padding: 4em 0;
      .button{
        margin: 0;
      }
    }
    
  }
  @media screen and (max-width: 640px) {
    .hero-section {
      height: inherit !important;
    }
  }
